/* Reset */
/* line 10, ../sass/style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 20, ../sass/style.scss */
body {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 29, ../sass/style.scss */
a {
  color: #00B4F1;
  text-decoration: none;
}

/* line 35, ../sass/style.scss */
#wrapper,
html, body {
  position: absolute;
  width: 100%;
  background: #f3f3f3;
  height: 100%;
  overflow: hidden;
}

/* line 43, ../sass/style.scss */
#menuWrapper {
  background: white;
  width: 100%;
  height: 100%;
}

/* line 49, ../sass/style.scss */
#infoPage {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #d6f5ff));
  background-image: -webkit-radial-gradient(#ffffff, #d6f5ff);
  background-image: -moz-radial-gradient(#ffffff, #d6f5ff);
  background-image: -o-radial-gradient(#ffffff, #d6f5ff);
  background-image: radial-gradient(#ffffff, #d6f5ff);
}
/* line 60, ../sass/style.scss */
#infoPage .inner {
  padding: 0 20px 20px;
}
/* line 62, ../sass/style.scss */
#infoPage .inner p {
  margin-top: 80px;
}

/* line 69, ../sass/style.scss */
#infoPage.invisible {
  z-index: -10;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 74, ../sass/style.scss */
#contentWrapper {
  -webkit-box-shadow: -3px 0px 8px 2px #929292;
  -moz-box-shadow: -3px 0px 8px 2px #929292;
  box-shadow: -3px 0px 8px 2px #929292;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 85, ../sass/style.scss */
#contentWrapper #slides {
  overflow: hidden;
}
/* line 87, ../sass/style.scss */
#contentWrapper #slides .slide {
  float: left;
  width: 100%;
}
/* line 91, ../sass/style.scss */
#contentWrapper #slides .slide .inner {
  position: relative;
  width: 100%;
}
/* line 95, ../sass/style.scss */
#contentWrapper #slides .slide .inner img.streamBanner {
  width: 100%;
}

/* line 103, ../sass/style.scss */
body.active-menu #contentWrapper {
  -webkit-transform: translate3d(85%, 0, 0);
  -moz-transform: translate3d(85%, 0, 0);
  -ms-transform: translate3d(85%, 0, 0);
  -o-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}

/* line 107, ../sass/style.scss */
#menuBar, #logoBar {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #d6f5ff));
  background-image: -webkit-radial-gradient(#ffffff, #d6f5ff);
  background-image: -moz-radial-gradient(#ffffff, #d6f5ff);
  background-image: -o-radial-gradient(#ffffff, #d6f5ff);
  background-image: radial-gradient(#ffffff, #d6f5ff);
  height: 74px;
}

/* line 113, ../sass/style.scss */
#streamLogo div,
.menuLogo {
  margin: 0 auto;
  padding-top: 10px;
  display: block;
}

/* line 118, ../sass/style.scss */
#streamLogo div {
  width: 90px;
}

/* line 121, ../sass/style.scss */
#streamInfo {
  background-color: #1e1e1e;
  min-height: 60px;
  color: #ffffff;
  padding: 5px 20px;
  text-align: center;
}
/* line 127, ../sass/style.scss */
#streamInfo #streamName {
  font-weight: bold;
  display: block;
}
/* line 131, ../sass/style.scss */
#streamInfo #nowPlaying {
  display: block;
  font-size: 90%;
}

/* line 137, ../sass/style.scss */
.menubutton,
#closeInfo {
  display: inline-block;
  height: 30px;
  width: 49px;
  background: url("../images/button-menu.png");
  position: absolute;
  top: 30px;
  left: 10px;
}

/* line 147, ../sass/style.scss */
#appMenu {
  padding: 0 0 10%;
  list-style: none;
  font-size: 90%;
  color: #666666;
}
/* line 152, ../sass/style.scss */
#appMenu li {
  border-bottom: 1px solid #d9d9d9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3);
  background-image: -o-linear-gradient(#ffffff, #f3f3f3);
  background-image: linear-gradient(#ffffff, #f3f3f3);
}
/* line 153, ../sass/style.scss */
#appMenu li a {
  padding: 15px 25% 15px 10%;
  color: #666666;
  text-decoration: none;
  display: block;
}
/* line 161, ../sass/style.scss */
#appMenu li:first-child {
  border-top: 1px solid #d9d9d9;
}
/* line 164, ../sass/style.scss */
#appMenu li:last-child {
  margin-bottom: 0;
}
/* line 167, ../sass/style.scss */
#appMenu li .streamName {
  font-weight: bold;
  display: block;
}
/* line 171, ../sass/style.scss */
#appMenu li .description {
  display: block;
}

/* line 177, ../sass/style.scss */
#playerControls {
  position: absolute;
  bottom: 0;
  height: 85px;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(51%, #424242), color-stop(100%, #8d8d8d));
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  background-image: linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  width: 100%;
}
/* line 183, ../sass/style.scss */
#playerControls #playStream {
  background: url("../images/play-button.png") no-repeat;
  width: 30px;
  height: 28px;
  display: block;
  margin: 7px auto;
}
/* line 190, ../sass/style.scss */
#playerControls #stopStream {
  background: url("../images/stop-button.png") no-repeat;
  width: 30px;
  height: 28px;
  display: block;
  margin: 7px auto;
}

/* line 198, ../sass/style.scss */
.hidden {
  display: none !important;
}

/* line 201, ../sass/style.scss */
nav#pager {
  position: absolute;
  bottom: 85px;
  height: 8px;
  padding: 4px 0;
  background: #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #656565));
  background-image: -webkit-linear-gradient(#999999, #656565);
  background-image: -moz-linear-gradient(#999999, #656565);
  background-image: -o-linear-gradient(#999999, #656565);
  background-image: linear-gradient(#999999, #656565);
  width: 100%;
}
/* line 210, ../sass/style.scss */
nav#pager ul#position {
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 0;
  float: none;
  text-align: center;
  line-height: 0;
}
/* line 219, ../sass/style.scss */
nav#pager ul#position li {
  display: inline-block;
  height: 8px;
  width: 8px;
  padding: 0;
  margin: 0 3px;
  background-color: #cccccc;
  position: relative;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 230, ../sass/style.scss */
nav#pager ul#position li.on {
  background-color: #0099ff;
}
