html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  min-height:416px;
}
h1 {
  font-size:33px;
  margin:50px 0 15px;
  text-align:center;
  color:#212121;
}
h2 {
  font-size:14px;
  font-weight:bold;
  color:#3c3c3c;
  margin:20px 10px 10px;
}
small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}
a {
  margin:0 0 0 10px;
  font-size:12px;
  color:#3c3c3c;
}


html, body {
  background: #f3f3f3;
  height: 100%;
}

#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
#playcontrols {
text-align: center;
}
#playcontrols #activityindicator, #playcontrols #stopbutton {
display: none;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  background-color: #ffffff;
  height: 100;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  height: 100%;
  position: relative;
}
.swipe-wrap > div .streamDesc {
  width: 80%;
  margin: 0 auto;
  margin-top: 180px;
}
#player {
  position: absolute;
  bottom:0;
  left:0;
  background-color: #000000;
  z-index: 100;
  height: 75px;
  padding-top: 10px;
  width: 100%;
  /*display: none;*/
}
nav#pager {
  position: absolute;
  bottom: 85px;
  height: 10px;
  padding: 5px;
  background: #333333;
  width: 100%;
}
nav#pager ul#position {
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 0;
}
nav#pager ul#position li {
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0 5px;
  float: left;
  background-color:#cccccc;
  position: relative;
}
nav#pager ul#position li.on {
  background-color: #0066ff;
}
.testbutton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  background-color: #ccc;
  clear: both;
  text-align: center;
}
#menuBar {
  background: url('../images/bg_menu.png') 0 0 no-repeat;
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  z-index:102;
  width: 100%;
}
#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
#streamInfo {
  background-color: #333333;
  color: #ffffff;
  top: 74px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
}
div.menubutton {
  display: inline-block;
  height: 30px;
  width: 49px;
  background: url('../images/button-menu.png');
  position: absolute;
  top: 30px;
  left: 10px;
}
#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#menuWrapper {
  position: :absolute;
  height: 100%;
  width: 100%;
}
#sliderWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 101;
  -webkit-box-shadow: -3px 0px 8px 2px #cdcdcd;
  box-shadow: -3px 0px 8px 2px #cdcdcd;
}
