@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
@import "compass/css3/opacity";

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  -webkit-text-size-adjust:none;
  -webkit-touch-callout:none;
  font-family:sans-serif;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  @include user-select(none);
}
.bold {
  font-weight: bold;
}
a {
  color: #00B4F1;
  text-decoration: none;
}

.header {
  z-index: 1000;
  position: relative;
}



#wrapper,
html, body {
  position: absolute;
  width: 100%;
  background: #f3f3f3;
  height: 100%;
  overflow: hidden;
}

#menuWrapper {
  background: white;
  width: 100%;
  height: 100%;
}

#infoPage {
  @include transition(all .6s);
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  @include opacity(1);
  @include background-image(radial-gradient(#FFFFFF, #D6F5FF));
  .inner {
    padding: 0 20px 20px;
    p {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .label {
      font-weight: bold;
    }
    p.first {
      margin-top: 80px;
    }
    ul {
      list-style: none;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
}


#infoPage.invisible {
  z-index: -10;
  @include opacity(0);
}

#contentWrapper {
  @include box-shadow(-3px 0px 8px 2px #929292);
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include transition(all .4s);

  #slides {
    overflow: hidden;
    z-index: 5;
    position: relative;
    .slide {
      float: left;
      // @include background-image(radial-gradient(#FFFFFF, #D6F5FF));
      width: 100%;
      img.streamBanner {
          max-width: 100%;
          position: absolute;
          bottom: 0;
      }
    }
  }
}

body.active-menu #contentWrapper {
  @include transform(translate3d(85%, 0, 0))
}

#menuBar, #logoBar {
  @include background-image(radial-gradient(#FFFFFF, #D6F5FF));
  height: 74px;
}

#streamLogo div,
.menuLogo {
  margin: 0 auto;
  padding-top: 10px;
  display: block;
}
#streamLogo div {
  width: 90px;
}
#streamInfo {
  background-color: #1e1e1e;
  min-height: 60px;
  color: #ffffff;
  padding: 5px 20px;
  text-align: center;
  #streamName {
    font-weight: bold;
    display: block;
  }
  #nowPlaying {
    display: block;
    font-size: 90%;
  }
}
.menubutton,
#closeInfo {
  display: inline-block;
  height: 30px;
  width: 49px;
  background: url('../images/button-menu.png');
  position: absolute;
  top: 30px;
  left: 10px;
}
.contactButton {
  display: inline-block;
  height: 30px;
  width: 49px;
  background: url('../images/button-mail.png');
  position: absolute;
  top: 30px;
  right: 10px;
}
#appMenu {
  padding: 0 0 10%;
  list-style: none;
  font-size: 90%;
  color: #666666;
  li {
      a {
        padding: 15px 35% 15px 10%;
        color: #666666;
        text-decoration: none;
        display: block;
      }
    border-bottom: 1px solid #d9d9d9;
    @include background-image(linear-gradient(#ffffff, #f3f3f3));
    &:first-child {
      border-top: 1px solid #d9d9d9;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .streamName {
      font-weight: bold;
      display: block;
    }
    .description {
      display: block;
    }
    #showInfo {
      background: url('../images/but-info.png') no-repeat 75% center;
    }
  }
}
.stream-button {
  background: url('../images/but-play.png') no-repeat 75% center;
}
#player {
  z-index: 10;
  #playerControls {
    position: absolute;
    bottom: 0;
    height: 85px;
    @include background-image(linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%));
    width: 100%;
    z-index: 10;
    #playStream {
      background: url('../images/play-button.png') no-repeat;
      width: 30px;
      height: 28px;
      display: block;
      margin: 7px auto;
    }
    #stopStream {
      background: url('../images/stop-button.png') no-repeat;
      width: 30px;
      height: 28px;
      display: block;
      margin: 7px auto;
    }
  }
}
.hidden {
  display: none !important;
}
nav#pager {
  position: absolute;
  bottom: 85px;
  height: 8px;
  padding: 4px 0;
  background: #333333;
  @include background-image(linear-gradient(#999999, #656565));
  width: 100%;

  ul#position {
    margin: 0 auto;
    position: relative;
    display: block;
    padding: 0;
    float: none;
    text-align: center;
    line-height: 0;

    li {
      display: inline-block;
      height: 8px;
      width: 8px;
      padding: 0;
      margin: 0 3px;
      background-color:#cccccc;
      position: relative;
      @include border-radius(4px, 4px);
    }
    li.on {
      background-color: #0099ff;
    }
  }
}
